.Content {
    float: left;
    margin: 0.5vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: center;
    color: #000000;
    background-color: #006c19;
    border: 0.25vw solid #040a0b;
    border-radius: 2vw;
}

.ContentHeading {
    font-weight: bold;
    font-size: 1.75vw;
}


